[submodule "altium-library"]
    path = hardware/altium-library
    url = https://github.com/michael-hirschmugl/altium-library
[submodule "firmware/BlueRetroRoot"]
	path = firmware/BlueRetroRoot
	url = git@github.com:michael-hirschmugl/BlueRetroRoot.git
