[submodule "firmware/BlueRetroRoot"]
	path = firmware/BlueRetroRoot
	url = git@github.com:michael-hirschmugl/BlueRetroRoot.git
[submodule "hardware/altium-library"]
	path = hardware/altium-library
	url = git@github.com:michael-hirschmugl/altium-library.git
